<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

<div>
  <% if(!todos.length) { %> 
    <p>There are no To Dos yet!</p>
  <% } else { %>
    <ul>
      <% todos.forEach((t, idx) => { %>
        <div>
        <li>
        <p> <%= t %> - <%= t.done ? 'done' : 'not done' %> </p>
        <form action="/<%= idx %>?_method=DELETE" class="delete-form" method="POST"><button type="submit">DELETE</button>
          
              </form>
          </li>
        </div>
  <% }); %>
    </ul>
  <% } %>
  <hr />
<form action="/" method="POST">
  <input type="text" name="todo">
  <button type="submit">ADD TO DO</button>
</form>
</div> 

  </body>
</html>